server/%SystemDrive%/ProgramData/Microsoft/Windows/Caches/{6AF0698E-D558-4F6E-9B3C-3716689AF493}.2.ver0x0000000000000001.db
server/%SystemDrive%/ProgramData/Microsoft/Windows/Caches/{CB2CD9F7-3C44-4C8B-9E59-5FBCE12EDAC1}.2.ver0x0000000000000001.db
server/%SystemDrive%/ProgramData/Microsoft/Windows/Caches/{DDF571F2-BE98-426D-8288-1A9A39C3FDA2}.2.ver0x0000000000000001.db
server/%SystemDrive%/ProgramData/Microsoft/Windows/Caches/cversions.2.db
server/test.txt
